doctype html
html
  head
    title= title
    script(src='/assets/vendor.js')
    script(src='/assets/emberapp.js')
  body
    h2(style='background-color: green') Header
    a(href='/spa') Go to spa route
    #ember-app
      //- include ../emberapp/dist/index.html
    h2(style='background-color: green') Footer