html
  head
    title SPA
    script(src='/assets/vendor.js')
    script(src='/assets/emberapp.js')
  body
    h2(style='background-color: yellow') Header
    #ember-app
    h2(style='background-color: yellow') Footer